* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #ba7453, #d1a984);
  z-index: -1;
}
nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  align-items: center;

  min-height: 10vh;
  color: white;

  #logo {
    grid-column: 2/3;
    font-size: 24px;
  }
  .hamburger {
    justify-self: end;
    width: 30px;
  }
}

section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  //   background-color: #fff;
  .hero {
    height: 80%;
    width: 100%;
    position: relative;
    .headline {
      position: absolute;
      top: 70%;
      left: 10%;
      font-size: 100px;
      color: white;
      z-index: 3;
      transform: translate(-20%, -70%);
    }

    &::after {
      content: "";
      background: #000;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.3;
    }
  }
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
